@{
  Layout = "_Layout";
}
@model DoctorsOffice.Models.Doctor
@using DoctorsOffice.Models

<h1> Doctors Details @Model.Name </h1>
<h2> Speciality: @Model.Speciality </h2>

@if(@Model.JoinEntities.Count == 0)
{
  <p>No Patients available</p>
}
else
{
  <h3>Patients:</h3>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Patient.Name</li>
      @using (Html.BeginForm("DeletePatient", "Doctors"))
      {
        @Html.Hidden("joinId", @join.DoctorPatientId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a new patient", "AddPatient", new { doctorId = Model.DoctorId })</p>
<p>@Html.ActionLink("Edit Doctor Info", "Edit", new { doctorId = Model.DoctorId})</p>
<p>@Html.ActionLink("Delete selected Doctor", "Delete", new { id = Model.DoctorId})</p>
<p>@Html.ActionLink("Go Back - View all Doctors", "Index")</p>