@{
  Layout = "_Layout";
}
@using DoctorsOffice.Models
@model DoctorsOffice.Models.Patient

<h1> Patient: @Model.Name </h1>
<h2> Birthdate: @Model.BirthDate </h2>

@if(@Model.JoinEntities.Count == 0)
{
  <p> Patient has no Doctors </p>
}
else
{
  <h3> Doctors: </h3>
  <ul>
    @foreach (var join in Model.JoinEntities)
    {
      <li>@join.Doctor.Name</li>
      @using (Html.BeginForm("DeleteDoctor", "Patients"))
      {
        @Html.Hidden("joinId", @join.DoctorPatientId)
        <input type="submit" value="Delete" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Add a new doctor", "AddDoctor", new { patientId = Model.PatientId })</p>
<p>@Html.ActionLink("Delete", "Delete", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Edit", "Edit", new { patientId = Model.PatientId })</p>
<p>@Html.ActionLink("Go Back - View all Patients", "Index")</p>